<header>
  <nav class="bg-[#FF385C] h-12 flex items-center">
    <a
      href="/"
      class="text-white ml-8 <%= currentPage === 'home'? 'bg-red-600 px-4 rounded-[1rem]' : 'hover:bg-red-400 px-4 rounded-[1rem]' %>"
      >Home</a
    >
    <a
      href="/host/add-home"
      class="text-white ml-8 <%= currentPage === 'addHome'? 'bg-red-600 px-4 rounded-[1rem]' : 'hover:bg-red-400 px-4 rounded-[1rem]' %>"
      >Add Home</a
    >
  </nav>
</header>
