<form action="/favourite-list" method="POST">
  <button
    type="submit"
    class="px-6 py-2 bg-green-500 text-white text-base font-medium rounded-lg shadow hover:bg-green-600 transition"
  >
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
